{% extends "base.html" %}
{% block content %}

<form action="" method="POST" novalidate> 

    <h1>Do you feel lucky punk???</h1>

    {{ form.hidden_tag() }}

    <div>
        {{ form.guess.label }}
        {{ form.guess() }}
    </div>

    <div>
        {{ form.submit() }}
    </div>

    <div>
        {% for error in form.guess.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
    </div>

    {{ message }}

</form>

{{ error }}
 
{% endblock %}

cross-site request forgery (CSRF)