{%extends "base.html"%}
{%block content %}

<form action="" method="POST" novalidate> 

    <h1>From:</h1>

    {{form.hidden_tag()}}

    {{form.base()}}

    
    {{form.baseValue()}}

    <IMG src="{{ url_for('static', filename='thermometer.jpg') }}" alt="A thermometer"/>


    <h1>To:</h1>
    
    {{form.output()}}

    {{form.outValue(disabled=True)}}

    <br>
    {{form.submit()}}

    <IMG src="{{ url_for('static', filename='BonziAnim.gif') }}" alt="bonzi" id="bonzi"/>



</form>


{{error}}
 
{%endblock%}

cross-site request forgery (CSRF)