{%extends "base.html"%}
{%block content %}

<form action="" method="POST" novalidate> 

    {{form.hidden_tag()}}

    {{form.plainText.label}}
    {{form.plainText()}}
    {% for error in form.plainText.errors %} 
        {{error}}
    {% endfor %}
    <br>
    {{form.shift.label}}
    {{form.shift()}}
    {% for error in form.shift.errors %} 
    {{error}}
    {% endfor %}
    <br>
    {{form.cipherText.label}}
    {{form.cipherText(disabled=True)}}


    
    <br/>
    {{form.submit()}}


</form>

<p>{{outcome}}</p>


{{error}}
 
{%endblock%}

cross-site request forgery (CSRF)