html {
    background-color: powderblue;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: powderblue;

}

header, footer {
    color: white;
    background-color: black;
    padding: 10em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav a:any-link {
    display: block;
    border: 1px solid blue;
    background-color: white;
    color: blue;
    padding: 1em;
    text-decoration: none;
}

main {
    padding: 2em;
    margin-top: 2em;
}

form {
    border: 2px solid blue;
    padding: 2em;
    margin: 2em auto 0; 
    background-color: azure;
}

label {
    float: left;
    width: 10em;
    text-align: right;
    clear: left;
    margin-right: 1em;
}

input[type="text"] {
    margin-bottom: 1em;
}
