{%extends "base.html"%}
{%block content %}

<form action="" method="POST" novalidate>

    {{form.hidden_tag()}}

    {{form.country.label}}
    {{form.country()}}
    
    <br>
    {{form.points.label}}
    {{form.points()}}
    
    <br>

    {{form.submit()}}
</form>

{% if countries  %}
<table>
    <caption>{{caption}}</caption>
    {% for performances in countries %}
    <tr>
        <td>{{ performances['year'] }}</td>
        <td>{{ performances['country'] }}</td>
        <td>{{ performances['song'] }}</td>
        <td>{{ performances['performer'] }}</td>
        <td>{{ performances['points'] }}</td>
    </tr>
    {% endfor%}
</table>
{% endif %}

{% if points  %}
<table>
    <caption>{{caption}}</caption>
    {% for performances in points %}
    <tr>
        <td>{{ performances['year'] }}</td>
        <td>{{ performances['country'] }}</td>
        <td>{{ performances['song'] }}</td>
        <td>{{ performances['performer'] }}</td>
        <td>{{ performances['points'] }}</td>
    </tr>
    {% endfor%}
</table>
{% endif %}






{{error}}

{% endblock %}

cross-site request forgery (CSRF)