{%extends "base.html"%}
{%block main_content %}

<form action="" method="post">
    <label for="weight">Enter your message: </label>
    <input type="text" size = "30" name="weight" id="weight" value="{{weight}}"/>
    <br>
    <label for="height">Enter your message: </label>
    <input type="text" size = "30" name="height" id="height", value="{{height}}"/>
    <br>
    <input type="submit">

    <label for="bmi">Enter your message: </label>
    <input type="text" size = "30" name="bmi" id="bmi", value="{{bmi}}" disabled/>
    <br>
    <input type="submit">
</form>>

 
{%endblock%}