<!DOCTYPE html>
<html>
<head>
    <title>To Do Application</title>
    <link rel="stylesheet" href="../static/baseStyles.css">

 
</head>
<body>

<!-- This shoud change the navigation bar depending on user logged in or not. -->
<div class="navbar">
    <!-- Check if a user is logged in. -->
    {% if 'user_id' in session %}
    <a href="{{ url_for('list_tasks') }}">List Tasks</a>
    <a href="{{ url_for('add_task') }}">Add Task</a>    
    <a href="{{ url_for('logout') }}">Logout</a>
 
        <!-- Otherwise If a user is not logged in, show these options-->
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    {% endif %}

    {% if 'is_admin' in session %}
        <h2>Admin Functions</h2>
        <a href="{{ url_for('view_logs') }}">Traffic Log</a>
        <a href="{{ url_for('delete_all_logs')}}">Delete Logs</a>
    {% endif%}

</div>

<!-- This is the main page showing the current selected view -->
<div style="margin-left: 200px; padding: 20px;">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
