{%extends "base.html"%}
{%block content %}
<link rel="stylesheet" href="../../static/baseStyles.css">

<form action="" method="POST" novalidate> 

    {{form.hidden_tag()}}

    {{ form.first_name.label }}
    {{ form.first_name() }}
    {% for error in form.first_name.errors %}
        {{error}}
    {% endfor %}
    <br>
    {{ form.surname.label }}
    {{ form.surname() }}
    {% for error in form.surname.errors %}
        {{error}}
    {% endfor %}
    <br>
    {{ form.email.label }}
    {{ form.email() }}
    {% for error in form.email.errors %}
        {{error}}
    {% endfor %}
    <br>
    {{ form.password.label }}
    {{ form.password() }}
    {% for error in form.password.errors %}
        {{error}}
    {% endfor %}
    <br>
    {{ form.confirm_password.label }}
    {{ form.confirm_password() }}
    {% for error in form.confirm_password.errors %}
        {{error}}
    {% endfor %}
    <br>
    {{ form.is_admin.label }}
    {{ form.is_admin() }}
    {% for error in form.is_admin.errors %}
        {{error}}
    {% endfor %}
    <br>
    {{form.submit()}}
    {{form.delete()}}

    <br>

</form>


{{error}}
 
{%endblock%}

cross-site request forgery (CSRF)