
{% extends "base.html" %}
{% block content %}

<form action="" method="POST" novalidate> 

    {% if tasks %}
    <table border="1">
        <h1><caption>{{ caption }}</caption> </h1>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
        {% for indivTask in tasks %}
        <tr>
            <td class="title">{{ indivTask['title'] }}  </td> 
            <td>{{ indivTask['description'] }}</td>
            <td>{{ indivTask['due_date'] }}</td>
            <td>{{ indivTask['priority'] }}</td>
            <td>{{ indivTask['status'] }}</td>
            <td><a href="{{ url_for('edit_task', task_id=indivTask['id']) }}" class="btn btn-primary">Edit Task</a></td>

        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No tasks set</p>
    {% endif %}

</form>


{{ error }}
 
{% endblock %}  
cross-site request forgery (CSRF)