
{% extends "base.html" %}
{% block content %}

<form action="" method="POST" novalidate> 

    {% if tasks %}
    <table>
        <caption>{{ caption }}</caption>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Status</th>
        </tr>
        {% for indivTask in tasks %}
        <tr>
            <td>{{ indivTask['title'] }}</td>
            <td>{{ indivTask['description'] }}</td>
            <td>{{ indivTask['due_date'] }}</td>
            <td>{{ indivTask['priority'] }}</td>
            <td>{{ indivTask['status'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No tasks set</p>
    {% endif %}

    <a href="{{ url_for('add_task')}}" class="btn btn-primary ">Add Task</a>
    <a href="{{ url_for('logout')}}" class="btn btn-primary ">Logout</a>

</form>


{{ error }}
 
{% endblock %}  